In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import re
company="TITAN"
url=f"https://www.screener.in/company/{company}"
table=pd.read_html(url,index_col=0)

In [2]:
data=requests.get(url)
soup=BeautifulSoup(data.content,"lxml")
price=soup.findAll("span")[1]

In [3]:
price1 = re.sub(r'[\W]', ' ', price.text)

In [4]:
price1=price1.replace(" ","")
price1=int(price1)

In [5]:
table1=table[1]
table1.head()

,Mar 2011,Mar 2012,Mar 2013,Mar 2014,Mar 2015,Mar 2016,Mar 2017,Mar 2018,Mar 2019,Mar 2020,Mar 2021,Mar 2022,TTM
Sales +,6521,8838,10113,10916,11903,11084,12897,15621,19070,20010,20602,27210,34482
Expenses +,5907,8003,9100,9864,10746,10135,11693,13886,17064,17592,18896,23928,29903
Operating Profit,614,835,1012,1051,1158,949,1204,1736,2006,2418,1706,3282,4579
OPM %,9%,9%,10%,10%,10%,9%,9%,11%,11%,12%,8%,12%,13%
Other Income +,54,92,99,117,66,69,-40,-7,104,146,39,192,184

In [6]:
table1=table1.drop(["TTM"],axis=1)

In [7]:
table1.T.to_csv("market_data.csv")

In [8]:
table1T=table1.T

In [9]:
table1T.index=table1T.index.str.removeprefix(prefix="Mar ")

In [10]:
type(table1T)

pandas.core.frame.DataFrame

In [11]:
table1T

,Sales +,Expenses +,Operating Profit,OPM %,Other Income +,Interest,Depreciation,Profit before tax,Tax %,Net Profit,EPS in Rs,Dividend Payout %
2011,6521,5907,614,9%,54,35,34,599,28%,430,4.85,13%
2012,8838,8003,835,9%,92,44,45,838,28%,600,6.76,26%
2013,10113,9100,1012,10%,99,51,54,1006,28%,725,8.17,26%
2014,10916,9864,1051,10%,117,87,66,1016,27%,741,8.35,25%
2015,11903,10746,1158,10%,66,81,87,1056,22%,823,9.27,25%
2016,11084,10135,949,9%,69,42,87,888,21%,698,7.86,28%
2017,12897,11693,1204,9%,-40,37,93,1033,26%,762,8.58,30%
2018,15621,13886,1736,11%,-7,48,110,1571,26%,1163,13.10,29%
2019,19070,17064,2006,11%,104,44,139,1927,29%,1374,15.48,32%
2020,20010,17592,2418,12%,146,149,310,2105,28%,1517,17.09,23%
2021,20602,18896,1706,8%,39,181,331,1233,29%,877,9.88,41%
2022,27210,23928,3282,12%,192,195,347,2932,26%,2180,24.56,31%

In [12]:
vbegin=int(table1T["Net Profit"][0])
vfinal=int(table1T["Net Profit"][-1])
t=len(table1T)

In [13]:
cagr=((vfinal/vbegin)**(1/t))-1
cagr=cagr*100
cagr

14.485109318007328

In [14]:
close=price1
eps=float(table1T["EPS in Rs"][-1])
pe=close/eps

In [15]:
marketcap=pe*vfinal
marketcap

220574.1042345277

In [16]:
netprofit=[]
sum1=vfinal
for i in range(10):
    sum1+=((vfinal*cagr)/100)
    netprofit.append(sum1)
print(netprofit)

[2495.77538313256, 2811.55076626512, 3127.3261493976797, 3443.1015325302396, 3758.8769156627995, 4074.6522987953595, 4390.427681927919, 4706.203065060479, 5021.978448193039, 5337.753831325599]

In [17]:
marketcap=[]
for i in netprofit:
    marketcap.append(i*pe)
print(marketcap)

[252524.5043601145, 284474.9044857013, 316425.30461128807, 348375.70473687485, 380326.1048624616, 412276.5049880484, 444226.9051136352, 476177.305239222, 508127.7053648088, 540078.1054903956]